<template name="faqPage">
  <div id="faqPage" class="padded page">
    <div class="marketingHeaderTransparency" style="{{getBackgroundColor 'colorB'}}"></div>
    <div class="marketingHeader">
      <h2>FAQ</h2>
    </div>
    <div id="faqText">
      <hr class="no-lower-margin">
      <h6>Q: I am a developer, how can I use clinical meteor?</h6>
      <p>A: This application is open sourced under the MIT license, and is based off of the Meteor Todos example.  While the code is open-sourced, all branding and marketing content is copyrighted and trademarked.  If you wish to fork the project, please replace all copyrighted/trademarked materials such as images and text.</p>

      <hr class="no-lower-margin">
      <h6>Q: What are some things I should be aware of when developing a healthcare app?</h6>
      <p>A: You should be aware of FDA regulatory approval process, HIPAA compliance, as well as conformance standards when developing a healthcare app.  See the <a href="http://clinical.meteor.com/aboutPage" style="{{getLinkColor}}"> About page</a>.  This is by no means a comprehensive list.  It is highly recommended you get legal counseling.  Please note: Information here comes with no guarantees.  Use at your own risk.</p>
      </div>
  </div>
</template>
