<template name="faqPage">
  <div id="faqPage" class="padded page">
    <div class="marketingHeaderTransparency" style="{{getBackgroundColor 'colorB'}}"></div>
    <div class="marketingHeader">
      <h2>FAQ</h2>
    </div>
    <div id="faqText">
      <hr class="no-lower-margin">
      <h6>Q: I am a developer, how can I use clinical meteor?</h6>
      <p>A: This application is open sourced under the MIT license, and is based off of the Meteor Todos example.  While the code is open-sourced, all branding and marketing content is copyrighted and trademarked.  If you wish to fork the project, please replace all images and text.</p>

      <hr class="no-lower-margin">
      <h6>Q: What are some things I should be aware of when developing a healthcare app?</h6>
      <p>A: This is not everything but the 3 things include: 1. FDA Regulatory Approval.  In addition to being open-sourced, this application is written with Validation and Verification tests, as per FDA regulation 21CFR820.75.  Please see the <a href="http://starrynight.meteor.com/" style="{{getLinkColor}}">StarryNight</a> utility for more information on writing and running Validatoin and Verification tests, and generating the necessary documentation for the FDA regulatory review process.</p>
      <p>2. HIPAA Compliance.  For HIPAA compliance, this app also supports HIPAA Audit Logging.  Please see the <a href="https://github.com/clinical-meteor/hipaa-utility" style="{{getLinkColor}}">HIPAA Audit Utility</a> for more information.</p>
      <p>3. HL7 Conformance Statement.  Lastly, this application is written using HL7 FHIR resource types.  Please see the <a href="https://www.hl7.org/fhir/resourcelist.html" style="{{getLinkColor}}">Resource List</a> for more details on specific object schemas.</p>

    </div>

  </div>
</template>
